.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 960px;
  width: 1440px;
  height: 68px;
  background: var(--white);
  border-bottom: 1px solid var(--badges);
  margin: 0 auto;
  margin-bottom: 4px;
}
.logo {
  color: var(--main);
  margin-left: 120px;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 16px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}
.activeNavLink {
  color: var(--light-blue);
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}
.navLink:hover,
.navLink:focus {
  color: var(--light-blue);
}
.logo_link {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 16px;
  margin-left: 120px;
}
