.filterContainer {
  margin: 0 auto;
  width: 924px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.carsContainer {
  margin: 0 auto;
  width: 1200px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
  width: 100%;
  margin-bottom: 80px;
}
/* card -box  */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 276px;
  border-radius: 12px;
  padding: 16px;
  background: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  overflow: hidden;
  border-radius: 14px;
  background: linear-gradient(180deg, rgba(18, 20, 23, 0.5) 0%, rgba(18, 20, 23, 0.5) 100%);
}

.carImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.favoriteBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: transparent;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.heartIcon {
  fill: transparent;
  stroke: #fff;
  transition: all 0.3s ease;
}

.heartIcon:hover,
.heartIcon:focus {
  transform: scale(1.1);
  stroke: var(--white);
}

.heartIcon.active {
  fill: var(--dark-blue);
  stroke: var(--button);
}

.titlecar {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  position: relative;
  margin-top: 16px;
  margin-bottom: 8px;
}
.brandModel {
  max-width: 200px;
}
.model {
  font-weight: 400;
  color: var(--dark-blue);
}
.rentalPrice {
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  color: var(--main);
  top: 0px;
  right: 11px;
}
.description {
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--bg);
}
.carInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px 6px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}

.infoItem {
  position: relative;
  display: flex;
  align-items: center;
}

.infoItem:not(:last-child)::after {
  content: '';
  display: block;
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.1);
  margin-left: 6px;
}

.learnMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 244px;
  height: 44px;
  margin: 0 auto;
  background-color: var(--light-blue);
  margin-top: 28px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.learnMoreBtn:hover,
.learnMoreBtn:focus {
  background-color: var(--dark-blue);
}

/* кнопка для завантаження ще 12 авто */

.loadMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-blue);
  background-color: transparent;
  border-radius: 12px;
  width: 156px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin: 0 auto;
  margin-bottom: 124px;
  transition: all 0.3s ease-in-out;
}
.loadMoreBtn:hover,
.loadMoreBtn:focus {
  background-color: transparent;
  border: 1px solid var(--dark-blue);
  box-shadow: 0px 2px 12px var(--light-blue);
}
.noResults {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: var(--gray);
  margin: 0 auto;
}
